*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
 body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(lightblue,lightpink);
    display: flex;
    align-items: center;
    justify-content: center;
 }
 div{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .formulario{
    border: 2px solid black;
    width: 450px;
    padding: 10px;
    border-radius: 10px;
 }
 label{
    font-size: 18px;
 }
 input{
    width: 180px;
    height: 29px;
    border-radius: 6px;
    background: rgb(253, 253, 253);
    font-size: 16px;
 }
 button{
    padding: 7px 30px;
    border-radius: 7px;
    background: rgb(131, 151, 239);
    color: white;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
 }
